body {
  margin: 0;
}

#header {
  background-color: #EEE;
  margin-bottom:5em;
  padding: .5em;
  position: sticky;
  top: 0;
  z-index: 5;
}

#current-img-id {
  float: right;
}

#images img {
  max-width: 100%;
}

#images .file {
  background-color: red;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding: 0.5em;
  white-space: nowrap;
  margin: 0.3em;
  text-align: center;
}
