body {
  background: linear-gradient(150deg, #875A7B 20%, #62495B 80%);
  color: #FFF;
  margin: 0;
  white-space: nowrap;
}

li > a {
  text-decoration: none;
  font-weight: bold;
  color: aqua;
}
li > a:hover {
  text-decoration: underline;
}
li > img {
  vertical-align: middle;
  margin-right: 0.3em;
}

#popup-content ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1.5em;
}
#no-login {
  background-color: #F9F9F9;
  color: black;
  padding: 0 0.5em;
  text-align: center;
}


.p-content {
  padding: 0.2em 0.5em;
}

.o-title {
  background-color: #fefefe;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0;
  padding: 0 0.4em;
}

.o-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Noto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.45;
}

.hidden {
  display: none;
}
